IS_OFFLINE=true
STAGE=local
AWS_ACCESS_KEY_ID_DEV=
AWS_SECRET_ACCESS_KEY_DEV=
AWS_ACCESS_KEY_ID_PROD=
AWS_SECRET_ACCESS_KEY_PROD=
ARN_APP_DEV=test-backend-dev
ARN_APP_PROD=
DB_DATABASE_LOCAL={"host": "localhost", "username": "postgres",  "password": "postgres", "database": "postgres"}
